velocity-toasts {
    display: flex;
    width: 100%;
    align-items: flex-end;
    flex-direction: column;
}

.velocity-card:nth-last-child(1) {
    margin-bottom: 15px;
}

#velocity-settings-section.vertical input {
    margin-top: 5px;
}

/* stylelint-disable */
.monaco-editor .decorationsOverviewRuler,
.monaco-editor .editor-scrollable,
.monaco-editor .minimap-shadow-visible,
.monaco-editor .overflow-guard,
.monaco-editor:not(.rename-box) {
    height: 100% !important;
}
/* stylelint-enable */

#editor {
    height: 600px;
    margin: 5px 0;
    overflow: hidden;
}

.velocity-card {
    overflow: hidden;
    background: var(--background-secondary);
    border-radius: 5px;
    min-height: 95px;
}

.velocity-card [class^="paragraph"] {
    overflow: hidden;
    text-overflow: ellipsis;
}

.velocity-card-content-wrapper {
    padding: 0 3%;
}

.velocity-card-footer-wrapper {
    padding: 0 3% 3%;
    margin-top: 25px;
}

.velocity-card-header-top {
    display: inline-flex;
    align-items: flex-end;
}

.velocity-card-header-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 3%;
    padding-bottom: 5px;
}

.velocity-card-header {
    margin-bottom: 3px;
    width: fit-content;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}

.velocity-card-header-name {
    margin-right: 3px;
    font-weight: 550;
    color: var(--header-primary);
    font-size: large;
}

.velocity-card-header-version {
    opacity: 0.8;
    margin-right: 3px;
    font-weight: 600;
    color: var(--header-secondary);
    font-size: large;
}

.velocity-card-header-tag {
    color: #fff;
    font-weight: 600;
    padding: 3px 4px;
    font-size: 13px;
    border-radius: 4px;
    background: var(--brand-experiment);
}

.velocity-card-header-switch {
    display: flex;
    align-items: center;
}

.velocity-card-header-author-wrapper {
    display: flex;
}

.velocity-card-header-author {
    margin-top: 3px;
    font-weight: 600;
    font-size: 9pt;
    color: var(--text-muted);
    margin-bottom: 1px;
}

.velocity-card-header-author.clickable {
    cursor: pointer;
    color: var(--brand-experiment-430);
}

.velocity-card-header-author.clickable:hover {
    text-decoration: underline;
}

.velocity-card-header-author-text {
    margin-top: 3px;
    font-weight: 500;
    font-size: 9pt;
    color: var(--text-muted);
    margin-bottom: 1px;
    margin-right: 3px;
}

.velocity-card-footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.velocity-card-footer-sponsor-button {
    border: 2px solid #da7bca !important;
    background-color: #0000 !important;
    box-sizing: border-box;
}

.velocity-card-footer-sponsor-button:hover {
    background-color: #da7bca29 !important;
}

.velocity-card-footer-delete-button > div {
    pointer-events: none;
}

.velocity-card-footer-left {
    display: flex;
    gap: 5px;
}

#velocity-addons-grid {
    margin: 20px 0 10px;
    display: grid;
    grid-gap: 20px;
}

@keyframes toast-show {
    from {
        opacity: 0;
        transform: translateX(100px) scale(0.2);
    }

    to {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

@keyframes toast-hide {
    from {
        opacity: 1;
        transform: translateX(0) scale(1);
    }

    to {
        opacity: 0;
        transform: translateX(100px) scale(0.3);
    }
}

.velocity-toast {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 1.5% 2.5% 0;
    padding: 12px 30px 12px 20px;
    border-radius: 3px;
    box-sizing: border-box;
    z-index: 99999;
    position: relative;
    width: fit-content;
    background-color: var(--background-floating);
    box-shadow: 2px 2px 5px #00000075;
    animation: toast-show 0.15s ease-out;
    color: #fff;
    font-size: 11pt;
    border-left: 4px solid;
}

.velocity-toast-close {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background: none;
    color: rgb(201 201 201);
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    transition: all 0.2s ease;
    opacity: 0;
}

.velocity-toast-close:hover {
    opacity: 0.8;
}

.velocity-toast:hover .velocity-toast-close {
    opacity: 1;
}

.velocity-toast.closing {
    animation: toast-hide 0.15s ease-in;
    opacity: 0;
    transform: translateY(-30px) scale(0.3);
}

.velocity-toast-body {
    font-weight: 500;
    font-size: 13px;
    margin-top: 3px;
    color: #c0c5cc;
}

.velocity-toast-title {
    font-weight: 500;
    font-size: 17px;
    color: #f3f3f3;
}

.velocity-toast:first-of-type {
    margin-top: 2.5%;
}

.velocity-toast.type-success {
    border-left-color: #61ed99;
}

.velocity-toast.type-error {
    border-left-color: #e44e4e;
}

.velocity-toast.type-warn {
    border-left-color: #daad2c;
}

.velocity-toast.type-velocity {
    border-left-color: #5b88fc;
}

.velocity-badge {
    cursor: pointer;
}

#velocity-settings-section.vertical {
    flex-direction: column;
}

#velocity-settings-section {
    display: flex;
    padding-block: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--background-modifier-accent);
}

#velocity-settings-section > div:not([class^="input"]):nth-child(2) {
    position: absolute;
    right: 6%;
}

#velocity-settings-section-info > div:nth-child(1) {
    font-weight: 500;
}

#velocity-settings-section-info > div:nth-child(2) {
    font-weight: 400;
}

.velocity-button-container {
    display: flex;
}

.velocity-button {
    margin-top: 5px;
}

.velocity-button-container .velocity-button {
    margin-right: 10px;
}

.velocity-settings-title-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-block: 10px 5px;
}

.velocity-settings-title {
    text-transform: uppercase;
    color: var(--interactive-normal);
    font-weight: 600;
    font-size: 11pt;
}

.velocity-settings-title-divider {
    height: 2px;
    width: 100%;
    background: var(--interactive-normal);
}

.notification::after {
    content: "1";
    position: absolute;
    pointer-events: none;
    background: var(--status-danger);
    border-radius: 50px;
    width: 16px;
    height: 16px;
    text-align: center;
    color: #fff;
    right: 10px;
    font-size: 11px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
}

.velocity-header-display {
    font-size: 12px;
    font-weight: 700;
    font-family: var(--font-display);
    line-height: 16px;
    text-transform: uppercase;
    color: var(--channels-default);
}

.velocity-changelog img {
    width: 100%;
    border-radius: 5px;
    outline: 0;
    margin-bottom: 14px;
    margin-top: 5px;
}

.velocity-changelog strong:not(ul *) {
    text-transform: uppercase;
    color: var(--text-positive);
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
}

.velocity-changelog div[class*="paragraph"]:not(ul *, div:nth-child(1)) {
    margin-top: 40px;
}

.velocity-changelog strong:not(ul *)::after {
    content: "";
    height: 1px;
    /* stylelint-disable */
    background: currentColor;
    /* stylelint-enable */
    margin-left: 4px;
    opacity: 0.6;
    width: 100%;
}

.velocity-changelog * {
    list-style-type: none !important;
}

.velocity-changelog li {
    margin-bottom: 8px;
    line-height: 20px;
}

.velocity-changelog li::before {
    content: "";
    background-color: #dcddde;
    position: absolute;
    transform: translate(-15px, 10px);
    width: 6px;
    height: 6px;
    margin-top: -4px;
    margin-left: -3px;
    border-radius: 50%;
    opacity: 0.3;
}

.velocity-modal-header-flex {
    width: 408px;
    display: flex;
    justify-content: space-between;
}

.velocity-sponsor-modal-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12%;
}

.velocity-sponsor-modal-button-icon {
    margin-right: 4px;
}

.velocity-updater-banner {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    background-color: var(--background-secondary);
    border-radius: 4px;
}

.velocity-updater-banner-icon {
    border-radius: 4px;
    background-color: var(--background-primary);
}

.velocity-updater-banner-icon img {
    width: 144px;
    height: 144px;
}

.velocity-updater-banner-info-title {
    font-weight: 500;
}

.velocity-updater-banner-info-button {
    margin-top: auto;
    width: fit-content;
}

.velocity-updater-banner-info {
    display: flex;
    flex-direction: column;
}

.velocity-updater-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.velocity-addon-modal-body-header-buttons {
    display: flex;
    margin-top: 6px;
    gap: 5px;
}

.velocity-addon-modal-body-header + .velocity-addon-page-tabbar {
    margin-top: 20px;
}

.velocity-changelog-modal-footer {
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.velocity-changelog-modal-footer a {
    color: var(--text-muted);
    height: 16px;
}

.velocity-about-card {
    box-sizing: border-box;
    border-radius: 4px;
    padding: 16px;
    width: 432px;
    height: 104px;
    flex-direction: column;
    text-indent: 0;
    background-color: var(--background-secondary);
}

.velocity-about-card-header {
    margin-block: 0 4px !important;
    display: flex;
    align-items: center;
    gap: 5px;
}

.velocity-about-card-header-title {
    margin-block: 0 !important;
    font-size: 16px !important;
    font-weight: 600 !important;
}

.velocity-about-card-header-info {
    height: fit-content;
    align-items: center;
    cursor: pointer;
    display: flex;
}

.velocity-about-card-body {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
}

.velocity-update-card {
    box-sizing: border-box;
    border-radius: 4px;
    padding: 16px;
    width: 432px;
    flex-direction: column;
    text-indent: 0;
    background-color: var(--background-secondary);
}

.velocity-update-card-header {
    margin-block: 0 4px !important;
    display: flex;
    align-items: center;
    gap: 5px;
}

.velocity-update-card-header-title {
    margin-block: 0 !important;
    font-size: 16px !important;
    font-weight: 600 !important;
}

.velocity-update-card-header-info {
    height: fit-content;
    align-items: center;
    cursor: pointer;
    display: flex;
}

.velocity-update-card-body {
    display: flex;
    flex-direction: column;
}

.velocity-update-card-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.velocity-permissions-modal-header {
    font-size: 17px;
    font-weight: 440;
    margin-bottom: 5px;
}

.velocity-permissions-modal-perm {
    font-weight: 400;
}

.velocity-button-container button {
    padding: 2px 16px;
    width: auto;
    min-width: 0;
}

.velocity-card-accent {
    background-color: var(--text-muted);
    width: 3px;
    height: 100%;
    float: left;
}

.velocity-card-footer-left button {
    padding: 2px 10px;
    width: auto;
    min-width: 0;
}

.velocity-card-footer-right {
    display: flex;
    gap: 6px;
    align-items: flex-end;
}

.velocity-clickable {
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    color: var(--text-muted);
    transition: all 0.1s ease;
}

.velocity-clickable:hover {
    color: var(--text-normal);
}

.velocity-developer-internal-patch {
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-top: 1px solid var(--background-modifier-accent);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.velocity-developer-internal-patch > [class^="input"] {
    width: 350px;
}

.velocity-developer-container {
    display: flex;
    flex-direction: column;
}

.velocity-developer-internal-patch-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.velocity-developer-internal-beta-tag {
    color: white;
    font-weight: 720;
    font-size: 10pt;
    border-radius: 20px;
    background: var(--brand-experiment);
    padding: 5px 10px;
}

.velocity-developer-internal-warning {
    font-size: 12pt;
    color: var(--text-danger);
    font-weight: 600;
}

.velocity-developer-header {
    max-height: 26px !important;
    margin-bottom: 12px;
}

.velocity-developer-items-container {
    margin-bottom: 15px;
}

.velocity-developer-status-buttons-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.velocity-developer-status-header {
    font-size: 18px;
    font-weight: 500;
    color: var(--header-primary);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.velocity-developer-container::-webkit-scrollbar {
    width: 16px;
    top: 4px;
    bottom: 4px;
}

.velocity-developer-container::-webkit-scrollbar-track {
    background-color: var(--scrollbar-auto-scrollbar-color-track) !important;
    border: 4px solid var(--background-primary);
    border-radius: 50px;
}

.velocity-developer-container::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-auto-scrollbar-color-thumb) !important;
    border-inline: 4px solid var(--background-primary);
    border-radius: 50px;
}

.velocity-modal-footer {
    flex-direction: column-reverse;
}

.velocity-modal-spacer {
    height: 10px;
}

.velocity-modal-flex-content {
    display: flex;
    flex-direction: column;
}

.velocity-developer-status-table-text {
    width: 50%;
    font-weight: 600;
    color: var(--text-muted);
}

.velocity-developer-status-table {
    color: var(--text-normal);
}

.velocity-developer-status-table td {
    border-top: 1px solid var(--background-modifier-accent);
    height: 61px;
    padding-block: 20px;
    box-sizing: border-box;
}

.velocity-developer-status-table td:last-child {
    text-align: end;
}

.velocity-developer-status-table th {
    padding-block: 8px;
    font-size: 12px;
    color: var(--header-secondary);
    text-transform: uppercase;
    font-weight: 700;
    text-align: start;
    margin-top: 32px;
}

.velocity-developer-status-table th:last-child {
    text-align: end;
}

.velocity-code-block-button {
    margin-top: 7px;
}

.velocity-error-boundary {
    display: flex;
    flex-direction: column;
    color: var(--text-muted);
    margin-top: 10px;
}

* + .velocity-error-boundary {
    margin-top: 0;
}

.velocity-error-boundary-actions {
    display: flex;
    gap: 10px;
}

.velocity-error-boundary-dropdown {
    width: 24px !important;
}

.velocity-error-boundary-details {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 7px;
    cursor: pointer;
    justify-content: flex-start;
}

.velocity-editor {
    background: var(--background-secondary);
    border-radius: 4px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.velocity-editor-header {
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10px;
}

.velocity-editor-header-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.velocity-editor-body {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    background: var(--background-secondary-alt);
}

.velocity-editor-body-sidebar {
    width: 52px;
    height: 100%;
    z-index: 1;
    position: absolute;
    background: var(--background-secondary-alt);
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.2s ease;
    padding: 11px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.velocity-editor-body-sidebar-item {
    padding: 6px 10px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.velocity-editor-body-sidebar-item-text {
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.velocity-editor-body-sidebar-item-options {
    max-height: 12px;
    max-width: 12px;
}

/* .selected > .velocity-editor-body-sidebar-item-options {
    display: block;
} */

.velocity-editor-body-sidebar-item-options:not(.selected > *, .velocity-editor-body-sidebar:hover .velocity-editor-body-sidebar-item:hover *) {
    display: none !important;
}

.velocity-editor-body-sidebar:hover,
.velocity-editor-body-sidebar:focus-within {
    width: 175px;
}

.velocity-editor-body-sidebar-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.velocity-editor-body-monaco {
    width: 100%;
    height: 100%;
    margin-left: 52px;
}

.velocity-editor-body-sidebar:hover .velocity-editor-body-sidebar-item-text,
.velocity-editor-body-sidebar:focus-within .velocity-editor-body-sidebar-item-text {
    max-width: 100px;
}

.velocity-addon-page-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.velocity-addon-page-header * {
    margin: 0;
}

.velocity-store-card {
    overflow: hidden;
    background: var(--background-secondary);
    border-radius: 8px;
    height: 320px;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-out;
}

.velocity-store-card:hover {
    background: var(--background-tertiary);
    box-shadow: var(--elevation-high);
    transform: translateY(-1px);
}

.velocity-store-card:hover img {
    transform: scale(1.01) translateZ(0);
}

.velocity-store-card-image {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 50%;
}

.velocity-store-card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background: var(--background-secondary-alt);
    transition: all 0.2s ease-out;
}

#velocity-store-grid {
    margin: 20px 0 10px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, 48.4%);
}

.velocity-store-card-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 50%;
}

.velocity-store-card-info-title-name {
    color: var(--header-primary);
    font-size: 17px;
    line-height: 22px;
    font-weight: 500;
    font-family: var(--font-display);
}

.velocity-store-card-info-description {
    font-size: 14px;
    line-height: 18px;
    color: var(--header-secondary);
}

.velocity-store-card-info-footer {
    color: var(--header-secondary);
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

.velocity-addon-store-body-breadcrumbs {
    color: var(--text-muted);
    gap: 10px;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.velocity-addon-store-body-header {
    display: flex;
    margin-top: 20px;
    align-items: flex-end;
    color: var(--text-muted);
    font-weight: 500;
    font-size: 14px;
    gap: 5px;
}

.velocity-addon-store-body-header-title {
    color: var(--header-primary);
    font-size: 25px;
    font-weight: 600;
    line-height: 24px;
}

.velocity-addon-store-body-header-separator {
    width: 1px;
    height: 10px;
    background: var(--text-muted);
    opacity: 0.5;
    transform: translateY(-2px);
}

.velocity-addon-store-body-description {
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    background: var(--background-secondary);
    color: var(--text-normal);
}

.velocity-addon-store-body-image {
    margin-top: 20px;
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    border-radius: 4px;
    background: var(--background-secondary);
}

.velocity-addon-store-body-actions {
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    background: var(--background-secondary);
    color: var(--text-normal);
}

.velocity-addon-store-body-actions-buttons {
    display: flex;
    gap: 10px;
}

.velocity-settings-collection-header {
    display: flex;
    color: var(--header-secondary);
    align-items: center;
    gap: 5px;
    padding: 4px 0;
}

.velocity-settings-collection-header svg {
    transition: all 0.2s ease;
}
